* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0084FD;
    height: 70px;
}

i {
    color: #fff;
}

ul {
    display: none;
}


.container {
    width: 100%;
    margin: 0 auto;
}

/* BLOCCHI COLORATI */
.red {
    background-color: red;
}

.lightblue {
    background-color: #B5DDFF;
}

.white {
    background-color: #fff;
}
/* BLOCCHI COLORATI */

.violet {
    background-color: #9792E4;
}

.darkgrey {
    background-color: #333333;
}

.row {
    display: flex;
    width: 100%;
}

.row-wrap-nowrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.pad-col {
    padding: 10px 30px;
}

.margin-top-col {
    margin-top: 20px;
}

.margin-top-col-viol {
    margin-top: 50px;
}

.padding-top-col {
    padding-top: 40px;
}

.col-100 {
    width: 100%;
    border-radius: 40px;
    margin: 20px 30px;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.img-position {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

.col-70 {
    width: 100%;
    border-radius: 20px;
    margin: 20px;
}

.col-66 {
    width: 100%;
    border-radius: 20px;
    margin: 20px;
}

.col-60 {
    width: 100%;
    border-radius: 40px;
    margin: 30px;
}

.col-50 {
    width: 50%;
}

.border {
    border: 1px dashed black;
}

.col-40 {
    width: 100%;
    border-radius: 40px;
    margin: 30px;
}

.col-33 {
    width: 100%;
    border-radius: 20px;
    margin: 20px;
}

.col-33-phone {
    width: 100%;
}

.col-33-viol {
    width: 100%;
    border-radius: 20px;
    margin: 20px;
}

.col-30 {
    width: 100%;
    border-radius: 20px;
    margin: 20px;
}

.content {
    display: flex;
    align-items: center;
}

.logo {
    justify-content: start;
}

.bars {
    justify-content: end;
}

.title {
    font-weight: 800;
    font-size: 23px;
    padding: 25px 20px;
}

.blue {
    color: #0084FD;
}

.title-white {
    font-weight: 800;
    font-size: 30px;
    padding: 25px 10px;
    color: white;
}

.title-black {
    font-weight: 800;
    font-size: 30px;
    padding: 10px;
    color: black;
}

.text {
    color: #5A6E7F;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 20px;
    line-height: 1.5;
}

.text-col-100 {
    font-size: 15px;
    padding: 5px 20px;
    line-height: 1.5;
    text-align: center;
}

.text-100{
    font-size: 15px;
    padding: 5px 20px;
    line-height: 1.5;
    text-align: center;
}

.text-abt-us {
    font-size: 15px;
    line-height: 2;
    color: black;
    padding: 20px 0;
}

.text-card {
    color: black;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    padding: 0 30px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.text-white {
    padding: 15px 10px;
    color: white;
    font-size: 13px;
    line-height: 1.5;
}

.btn-apple {
    background-color: #0084FD;
    font-weight: 800;
    color: white;
    padding: 13px 70px;
    border-radius: 30px;
    border: none;
    margin: 20px;
}

.phone {
    width: 80%;
    display: flex;
    margin-left: 30px;
}

.center {
    text-align: center;
}

.padding-bottom-txt {
    padding-bottom: 20px;
}

.planning {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 0;
}

.planning2 {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.circle {
    vertical-align: middle;
    text-align:center;
    left:150px;
    position:relative; /*makes left effective*/
    display:table-cell;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9792E4;
    margin-bottom: 20px;
}

.black {
    color: black;
    padding: 15px;
}

.violet-txt {
    color: #9792E4;
    font-size: 30px;
    font-weight: 800;
}

.white-txt {
    color: white;
}

.bold {
    font-weight: 800;
}

.padding-bottom-viol {
    padding-bottom: 50px;
}

.txt-number {
    font-size: 50px;
    font-weight: 800;
    color: #9792E4;
    padding: 25px;
}

.title-card-number {
    font-size: 20px;
    font-weight: 800;
    color: #9792E4;
    padding: 0 30px;
}

.title-abt-us {
    font-size: 20px;
    font-weight: 800;
    color: #9792E4;
    line-height: 1.5;
}

.text-card-number {
    font-size: 15px;
    color: #5A6E7F;
    padding: 10px 30px;
    line-height: 1.5;
    margin: 15px 0;
}

.btn-violet {
    background-color: #9792E4;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    padding: 10px 40px;
    border: 1px solid #9792E4;
    border-radius: 50px;
    margin: 0 30px;
}

.btn-violet:hover {
    background-color: #fff;
    border: 1px solid #9792E4;
    color: #9792E4;
}

.btn-abt-us {
    background-color: #9792E4;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 30px;
    word-spacing: 1px;
    margin-top: 20px;
}

.padding-about-us {
    padding: 50px 10px;
}

/* ALTEZZA CONTENT DA ELIMINARE */
.height-header {
    height: 50px;
}

.height {
    height: 300px;
}

.height-2 {
    height: 500px;
}

.height-footer {
    height: 100px;
}
/* ALTEZZA CONTENT DA ELIMINARE */













@media screen and (min-width: 576px) {
    .container {
        width: 100%;
    }

    .row-wrap-nowrap {
        flex-wrap: nowrap;
    }

    .col-70 {
        width: calc(50% - 40px);
    }

    .col-66 {
        width: calc(66% - 40px);
    }

    .col-60 {
        width: 100%;
    }
    
    .col-40 {
        width: 100%;
    }

    .col-33 {
        width: calc(100% / 3 - 40px);
    }

    .col-33-viol {
        width: calc(50% - 40px);
    }

    .col-30 {
        width: calc(50% - 40px);
    }

    .d-flex-end {
        display: flex;
    }

    .phone {
        width: 45%;
    }

    .title-white {
        font-size: 40px;
    }

    .violet-txt {
        font-size: 40px;
    }

    .text-col-100 {
        font-size: 15px;
        text-align: start;
    }

    .d-flex-center {
        padding: 0 20px;
    }

    .col-100 .d-flex {
        flex-direction: row;
    }

    .center-flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .d-flex {
        flex-direction: row;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .fa-bars {
        visibility: hidden;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style-type: none;
        padding: 8px 15px;
        color: white;
    }

    .btn {
        background-color: white;
        color: black;
        padding: 8px 15px;
        border-radius: 20px;
    }

    .btn:hover {
        background-color: black;
        color: white;
    }

    .row-wrap-nowrap {
        flex-wrap: nowrap;
    }

    .col-70 {
        width: calc(70% - 40px);
    }

    .col-66 {
        width: calc(66% - 40px);
        display: flex;
    }

    .col-60 {
        width: calc(60% - 60px);
    }

    .col-40 {
        width: calc(40% - 60px);
    }

    .col-33 {
        width: calc(100% / 3 - 40px);
    }

    .col-33-viol {
        width: calc(100% / 3 - 40px);
    }

    .col-33-phone {
        width: 33%;
    }

    .col-30 {
        width: calc(30% - 40px);
    }

    .d-flex-end {
        display: flex;
        justify-content: flex-end;
    }

    .phone {
        width: 70%;
    }

    .text {
        font-size: 15px;
    }

    .text-white {
        font-size: 15px;
    }

    .text-card {
        font-size: 15px;
    }

    .violet-txt {
        font-size: 45px;
    }

    .text-col-100 {
        font-size: 18px;
        text-align: start;
    }

    .d-flex-center {
        padding: 0 20px;
    }

    .col-100 .d-flex {
        flex-direction: row;
    }

    .center-flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .d-flex {
        flex-direction: row;
    }
    
}